
body{
    background: #f6f9f9;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.wrap{
    background: #fff url('../img/head-cont.png') no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: 100% 100%;
    margin: 0;
}
.logo-top{
    padding: 0;
    margin: 0;
    width: 100%;
    background: #fff;
}
.logo{
    padding: 31px 0 31px 0;
    margin: 0;
}
.to-down{
    width: 48px;
    margin: 80px auto 0 auto;
    display: block;
    text-decoration: none;
    color:#fff;
}
.icon-chevron-down{
    font-size: 22px;
}
.strict{
    max-width: 600px;
    width:100%;
    margin: 0 auto 0 auto;
    color:#fff;
}
.bordered{
    font-size:120px;
    color:#fff;
    border-bottom: 1px solid #15a4fa;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
.bordered{
    font-size:72px;
    color:#fff;
    border-bottom: 1px solid #15a4fa;
    text-transform: uppercase;
}
}
.strict p{
    font-weight: 400;
    margin-top: -60px;
    font-size: 20px;
}
.opisanie{
    min-height: 340px;
    width: 100%;
    color:#2d3950;
}
.opisanie h2{
    font-weight: 400;
    margin-top: 50px;
    font-size: 40px!important;
}
.opisanie p{
    color: #c8c9c9;
        font-weight: 400;
    font-size: 20px!important;
}

.icon-3{
    font-size:70%;
    min-height: 340px;
    width: 100%;
    background: #fff;
    color:#2d3950;
}
figure{
    padding-top: 40px;
}
.col-portfolio{
margin-top:40px;
margin-bottom: 40px;
}
.col-portfolio h1{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 40px;
    color:#2d3950;
}
h1.colored {
    color:#fff;
}
.col-portfolio p{
    margin-top: -10px;
    color: #c8c9c9;
        font-weight: 400;
    font-size: 20px;
}
.portfolio-img img{
    width:360px;
    height:260px;
}
.eff-9-2 {
    width:360px;
    height:260px;
  overflow: hidden;
}
@media screen and (max-width: 360px) {
.portfolio-img img{
    width:300px;
    height:200px;
}
.eff-9-2 {
    width:300px;
    height:200px;
  overflow: hidden;
}
}

@media screen and (max-width: 320px) {
.portfolio-img img{
    width:285px;
    height:185px;
}
.eff-9-2 {
    width:285px;
    height:185px;
  overflow: hidden;
}
}

.portfolio-img{
    margin: 0 auto;
}

.portfolio{
    padding-bottom: 80px;
}

/*-------------------*/

.portfolio-img {
  position: relative;
} 

.eff-9-2 .caption {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  width: 100%;
  height: 100%;
  color: #fff;
  -ms-transition: all 0.3s linear 0s;;
  -o-transition: all 0.3s linear 0s;;
  -webkit-transition: all 0.3s linear 0s;;
  -moz-transition: all 0.3s linear 0s;;
  transition: all 0.3s linear 0s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.eff-9-2 .caption a.btn {
    text-decoration: none;
    position: relative;
    top:35%;
    left:35%;
  text-align: center;
width: 48px;
height: 48px;
display: inline-block;
  background:transparent;
  color: #fff;
  padding:0;
  border-radius:4px;
  border:1px solid #fff;
  margin: 0 auto;
}
.eff-9-2 .caption a.btn:hover {
  background:rgba(17.3%, 67.5%, 96.9%, 0.6);
}
@font-face {
  font-family: 'icon';
  src:
    url('../fonts/icon.ttf?vu6sa4') format('truetype'),
    url('../fonts/icon.woff?vu6sa4') format('woff'),
    url('../fonts/icon.svg?vu6sa4#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  font-style: normal;
  font-size:28px;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  width: 48px;
height: 48px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-search-plus:before {
  content: "\e900";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-cross:before {
  content: "\274c";
}


.eff-9-2 .overlay {
  background:rgba(17.3%, 67.5%, 96.9%, 0.6);
  width: 2px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.eff-9-2 .overlay-1 {
  -o-transition: all 0.5s linear 0.3s;
  -moz-transition: all 0.5s linear 0.3s;
  -ms-transition: all 0.5s linear 0.3s;
  -webkit-transition: all 0.5s linear 0.3s;
  transition: all 0.5s linear 0.3s;
}
.eff-9-2 .overlay-2 {
  -o-transition: all 0.5s linear 0.6s;
  -moz-transition: all 0.5s linear 0.6s;
  -ms-transition: all 0.5s linear 0.6s;
  -webkit-transition: all 0.5s linear 0.6s;
  transition: all 0.5s linear 0.6s;
}
.eff-9-2:hover .overlay {
  -webkit-transform: scale(400);
  -moz-transform: scale(400);
  -ms-transform: scale(400);
  -o-transform: scale(400);
  transform: scale(400);
}
.eff-9-2:hover .overlay-1 {
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.eff-9-2:hover .overlay-2 {
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.eff-9-2:hover .caption {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -moz-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}   

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(255, 255, 255, 0.7);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.modal-overlay:target {
    display: block;
    animation: fadeIn .5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.modal-table {
    display: table;
    width: 100%;
    height: 100%;
}

.modal-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}

.modal {
    letter-spacing: 0.01em;
    line-height: 1.6;
    font-size: 1em;
    font-weight:300;
    font-family:"Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    display: inline-block;
    padding:0;
    max-width: 50em;
    background: transparent;
    color: #666;
    text-align: left;
    border:none;
    z-index: 9995!important;
}

.modal-top{
    margin: 0;
    padding:0;
    width: 100%;
    height: auto;
    background: transparent;
}


.modal img {
    width: 100%;
    height: auto;
    max-height: 600px;
    border: 5px solid #999;
    z-index: 9995!important;
    border-radius:4px;
}

.modal h3{
    letter-spacing: 0.3em;
    font-weight: lighter;
    font-size: 1.5em;
	margin: 0;
	padding:0 0 10px 15px;
}


.modal p{
	margin:0 0 20px 0;
}

.image-maxi{
    width:100%;
    height: auto;
}

.image-mini-left,
.image-mini-right {
    width:35%;
    height: auto;
}

.image-mini-right  {
    float: right;
    margin: 5px 0 5px 15px;
}

.image-mini-left {
    float: left;
    margin: 5px 15px 5px 0;
}

.video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-close {
    margin-bottom: -20px;
    margin-right: 10px;
    float: right;
    width:42px;
    height:36px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background:#15a4fa;
    opacity: 0.99;
}
.icon-cross{
    width: auto;
    height: auto;
    display: inline-block;
    padding:5px 0 0 0;
    font-size: 15px;
    font-weight: bold;
}

.modal-close:hover {
    background: #fa4b15;
}

.foot-down{
    background: #fff url('../img/footer.png') no-repeat center center;
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    margin:0;
}
.footer{
	font-size:18px;
    color: #888;
}
@media screen and (max-width: 360px) {
.footer{
	font-size:12px;
}
}

@media screen and (max-width: 320px) {
.footer{
	font-size:12px;
}
}
@media screen and (max-width: 375px) {
.footer{
	font-size:12px;
}
}

label{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 360px) {
label{
    font-size:11px;
}
}

@media screen and (max-width: 320px) {
label{
    font-size:11px;
}
}
@media screen and (max-width: 375px) {
label{
    font-size:11px;
}
}
/*base form styles*/
input[type=text], input[type=password], input[type=email], input[type=search], select {
    width: 100%;
    background: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    color:#8e8f91;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
}

/*set border on focus*/
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus {
    border: 1px solid #15a4fa;
    border-radius: 4px;
}

/*styling textarea*/
textarea, textarea[type=text] {
    background: transparent;
    width:100%;
    min-height: 100px;
    margin: 8px 0;
    color:#8e8f91;
    padding: 14px 20px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 4px;
    resize: none;
    transition: 0.5s;
    outline: none;
}
textarea:focus, textarea[type=text]:focus {
    border: 1px solid #15a4fa;
    border-radius: 4px;
}
.ww-6{
    max-width: 600px;
    margin: 0 auto;
}
.check{
    margin-top: -8px;
    margin-left: 16px;
}

@media screen and (max-width: 320px) {
.check{
    margin-top: -1px;
    margin-left: 10px;
}
}
@media screen and (max-width: 375px) {
.check{
    margin-top: -1px;
    margin-left: 10px;
}
}
.form-button, button, [type=submit] {
  overflow: hidden;
  margin:-20px 0 0 0;
  padding: 14px 28px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  border: 1px solid #15a4fa;
  border-radius: 4px;
  color: #FFFFFF;
  background: transparent;
  font-family: inherit;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-button:hover, button:hover, [type=submit]:hover {
  transition: all 60ms ease;
	background:#15a4fa;
}
.form-button:active, button:active, [type=submit]:active {
  transition: all 60ms ease;
          transform: scale(0.97);
  opacity: .75;
}
.form-button:focus, button:focus, [type=submit]:focus {
  outline: none;
}

.form-button:disabled, button:disabled, [type=submit]:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.span-marg{
    width: 100%;
    height: 40px;
    display: block;
}
.soc-icon, .copyright{
    padding:25px 0 10px 0;
    display:inline-block;
}
.soc-icon{
    float:right;
}
.copyright{
    float: left;
}

@media screen and (max-width: 443px) {
.soc-icon, .copyright{
    margin: 0 auto;
    text-align: center;
    float:none;
    }
}
.facebook, .tvitter, .google-plus, .in{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url('../img/soc-icon.png') no-repeat;
}

.facebook{
    background-position: 0 0;
}
.tvitter{
    background-position: -45px 0;
}
.google-plus{
    background-position: -90px 0;
}
.in{
    background-position: -135px 0;
}

.facebook:hover{
    background-position: 0 -40px;
}
.tvitter:hover{
    background-position: -45px -40px;
}
.google-plus:hover{
    background-position: -90px -40px;
}
.in:hover{
    background-position: -135px -40px;
}
